<a href="https://colab.research.google.com/github/IonaSantana/Artificial-Intelligence/blob/main/Flight_delay.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Fligh-Delay, qual compania eu devo ir?
O que Ã© um atraso?
E quanto um atraso pode ser tolerado?

Quais voos atrasam mais?

In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn #correlacionar

In [30]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [57]:
airline = pd.read_csv("/content/drive/MyDrive/Flight Delays and Cancellations/airlines.csv")
airports = pd.read_csv("/content/drive/MyDrive/Flight Delays and Cancellations/airports.csv")
flights = pd.read_csv("/content/drive/MyDrive/Flight Delays and Cancellations/flights.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [32]:
airline.head()

  IATA_CODE                 AIRLINE
0        UA   United Air Lines Inc.
1        AA  American Airlines Inc.
2        US         US Airways Inc.
3        F9  Frontier Airlines Inc.
4        B6         JetBlue Airways

In [33]:
airports.head()

  IATA_CODE                              AIRPORT  ...  LATITUDE  LONGITUDE
0       ABE  Lehigh Valley International Airport  ...  40.65236  -75.44040
1       ABI             Abilene Regional Airport  ...  32.41132  -99.68190
2       ABQ    Albuquerque International Sunport  ...  35.04022 -106.60919
3       ABR            Aberdeen Regional Airport  ...  45.44906  -98.42183
4       ABY   Southwest Georgia Regional Airport  ...  31.53552  -84.19447

[5 rows x 7 columns]

In [34]:
flights.head()

   YEAR  MONTH  DAY  ...  AIRLINE_DELAY LATE_AIRCRAFT_DELAY  WEATHER_DELAY
0  2015      1    1  ...            NaN                 NaN            NaN
1  2015      1    1  ...            NaN                 NaN            NaN
2  2015      1    1  ...            NaN                 NaN            NaN
3  2015      1    1  ...            NaN                 NaN            NaN
4  2015      1    1  ...            NaN                 NaN            NaN

[5 rows x 31 columns]

In [35]:
flights.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON',
       'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
       'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'],
      dtype='object')

In [36]:
flights.shape #5819079 de informaÃ§Ãµes em 31 colunas

(5819079, 31)

In [37]:
flights.isna().sum()

YEAR                         0
MONTH                        0
DAY                          0
DAY_OF_WEEK                  0
AIRLINE                      0
FLIGHT_NUMBER                0
TAIL_NUMBER              14721
ORIGIN_AIRPORT               0
DESTINATION_AIRPORT          0
SCHEDULED_DEPARTURE          0
DEPARTURE_TIME           86153
DEPARTURE_DELAY          86153
TAXI_OUT                 89047
WHEELS_OFF               89047
SCHEDULED_TIME               6
ELAPSED_TIME            105071
AIR_TIME                105071
DISTANCE                     0
WHEELS_ON                92513
TAXI_IN                  92513
SCHEDULED_ARRIVAL            0
ARRIVAL_TIME             92513
ARRIVAL_DELAY           105071
DIVERTED                     0
CANCELLED                    0
CANCELLATION_REASON    5729195
AIR_SYSTEM_DELAY       4755640
SECURITY_DELAY         4755640
AIRLINE_DELAY          4755640
LATE_AIRCRAFT_DELAY    4755640
WEATHER_DELAY          4755640
dtype: int64

In [ ]:
#coeficiente de Pearson -1 a 1, quanto mais prÃ³ximo de um desse valores, maior a correlaÃ§Ã£o

In [38]:
flights.shape

(5819079, 31)

In [58]:
fli_aux = flights[(flights['CANCELLATION_REASON'].isna() == False)]

In [40]:
#como nÃ£o hÃ¡ informaÃ§Ãµes sobre o que A,B,C... significam, nÃ£o consideraremos essa coluna
fli_aux['CANCELLATION_REASON'].unique()

array(['A', 'B', 'C', 'D'], dtype=object)

In [41]:
fli_aux = flights[(flights['WEATHER_DELAY'].isna() == False)]
fli_aux.shape

(1063439, 31)

In [42]:
columns = ['AIRLINE', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY']
data = flights[columns]

In [43]:
data.head()

  AIRLINE ORIGIN_AIRPORT  ... ARRIVAL_TIME  ARRIVAL_DELAY
0      AS            ANC  ...        408.0          -22.0
1      AA            LAX  ...        741.0           -9.0
2      US            SFO  ...        811.0            5.0
3      AA            LAX  ...        756.0           -9.0
4      AS            SEA  ...        259.0          -21.0

[5 rows x 17 columns]

In [44]:
data.shape

(5819079, 17)

In [45]:
data.isna().sum()

AIRLINE                     0
ORIGIN_AIRPORT              0
DESTINATION_AIRPORT         0
SCHEDULED_DEPARTURE         0
DEPARTURE_TIME          86153
DEPARTURE_DELAY         86153
TAXI_OUT                89047
WHEELS_OFF              89047
SCHEDULED_TIME              6
ELAPSED_TIME           105071
AIR_TIME               105071
DISTANCE                    0
WHEELS_ON               92513
TAXI_IN                 92513
SCHEDULED_ARRIVAL           0
ARRIVAL_TIME            92513
ARRIVAL_DELAY          105071
dtype: int64

In [46]:
#apesar de retirar os valores NaN, ainda se tem muitos registro. E assim, podemos evitar cometer erros no modelo por falta de informaÃ§Ã£o 
data = data.dropna()

In [47]:
data.isna().sum()

AIRLINE                0
ORIGIN_AIRPORT         0
DESTINATION_AIRPORT    0
SCHEDULED_DEPARTURE    0
DEPARTURE_TIME         0
DEPARTURE_DELAY        0
TAXI_OUT               0
WHEELS_OFF             0
SCHEDULED_TIME         0
ELAPSED_TIME           0
AIR_TIME               0
DISTANCE               0
WHEELS_ON              0
TAXI_IN                0
SCHEDULED_ARRIVAL      0
ARRIVAL_TIME           0
ARRIVAL_DELAY          0
dtype: int64

In [48]:
data.shape

(5714008, 17)

In [49]:
data['ARRIVAL_TIME'].head()

0    408.0
1    741.0
2    811.0
3    756.0
4    259.0
Name: ARRIVAL_TIME, dtype: float64

In [50]:
data.dtypes

AIRLINE                 object
ORIGIN_AIRPORT          object
DESTINATION_AIRPORT     object
SCHEDULED_DEPARTURE      int64
DEPARTURE_TIME         float64
DEPARTURE_DELAY        float64
TAXI_OUT               float64
WHEELS_OFF             float64
SCHEDULED_TIME         float64
ELAPSED_TIME           float64
AIR_TIME               float64
DISTANCE                 int64
WHEELS_ON              float64
TAXI_IN                float64
SCHEDULED_ARRIVAL        int64
ARRIVAL_TIME           float64
ARRIVAL_DELAY          float64
dtype: object

In [51]:
data['SCHEDULED_ARRIVAL'].head()

0    430
1    750
2    806
3    805
4    320
Name: SCHEDULED_ARRIVAL, dtype: int64

In [52]:
data.sort_values(['DEPARTURE_DELAY'], ascending=False).head()

        AIRLINE ORIGIN_AIRPORT  ... ARRIVAL_TIME  ARRIVAL_DELAY
337720       AA            BHM  ...       1805.0         1971.0
3412085      AA            RIC  ...       1652.0         1898.0
4103531      AA            SAN  ...       1544.0         1665.0
5810811      AA            ABQ  ...       1641.0         1636.0
5279939      AA            DTW  ...       1407.0         1638.0

[5 rows x 17 columns]

In [53]:
atrasados = []
atrasados = data.sort_values(['DEPARTURE_DELAY'], ascending=False)
atrasados = atrasados[atrasados['DEPARTURE_DELAY'] > 0]

In [54]:
atrasados.head()

        AIRLINE ORIGIN_AIRPORT  ... ARRIVAL_TIME  ARRIVAL_DELAY
337720       AA            BHM  ...       1805.0         1971.0
3412085      AA            RIC  ...       1652.0         1898.0
4103531      AA            SAN  ...       1544.0         1665.0
5810811      AA            ABQ  ...       1641.0         1636.0
5279939      AA            DTW  ...       1407.0         1638.0

[5 rows x 17 columns]

Filtro depois a AIRLINE do df airline, o iata_code -> AA, US, UA... e mostro as melhores

OpÃ§Ãµes de modelos: regressÃ£o linear (mostrar o atraso de cada companhia), Ã¡rvores de decisÃ£o (companhia boa ou nÃ£o), SVM - separar o valores de atraso positivo dos negativos?

OpÃ§Ãµes:
*melhores companhias para viajar
*melhores companhias para uma determinada linha (aeroporto de destino)
*separar por mÃªs de cada companhia
*separar por ano de cada companhia
*separar por ano de cada companhia e por linha
*cluster de melhores companhias