<a href="https://colab.research.google.com/github/IonaSantana/Artificial-Intelligence/blob/main/Projects/NLP/Maiores_investimentos_licita%C3%A7%C3%B5es.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Situação:

Usando os dados das licitações do ano de 2021, no Rio Grande do Sul, tentar fazer uma análise dos principais itens licitados e das áreas que receberam maior investimento por meio de licitações

Link: http://dados.tce.rs.gov.br/dataset?groups=licitacoes&q=consolidado

### Imports

In [8]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
%matplotlib inline

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [10]:
files = os.listdir('/content/drive/MyDrive/NLP/2021')

In [11]:
files

['pessoas.csv',
 'membrocons.csv',
 'comissao.csv',
 'memcomissao.csv',
 'licitacao.csv',
 'licitante.csv',
 'dotacao_lic.csv',
 'evento_lic.csv',
 'documento_lic.csv',
 'lote.csv',
 'item.csv',
 'proposta.csv',
 'lote_prop.csv',
 'item_prop.csv']

licitacao = pd.read_csv('/content/drive/MyDrive/NLP/2021/' + files[4])
item = pd.read_csv('/content/drive/MyDrive/NLP/2021/' + files[10])

### Testes

In [102]:
# pessoas = pd.read_csv('/content/drive/MyDrive/NLP/2021/' + files[0])
# membrocons = pd.read_csv('/content/drive/MyDrive/NLP/2021/' + files[1])
# comissao = pd.read_csv('/content/drive/MyDrive/NLP/2021/' + files[2])
# memcomissao = pd.read_csv('/content/drive/MyDrive/NLP/2021/' + files[3])

# licitante = pd.read_csv('/content/drive/MyDrive/NLP/2021/' + files[5])
# dotacao_lic = pd.read_csv('/content/drive/MyDrive/NLP/2021/' + files[6])
# evento_lic = pd.read_csv('/content/drive/MyDrive/NLP/2021/' + files[7])
# documento_lic = pd.read_csv('/content/drive/MyDrive/NLP/2021/' + files[8])
# lote = pd.read_csv('/content/drive/MyDrive/NLP/2021/' + files[9])

# proposta = pd.read_csv('/content/drive/MyDrive/NLP/2021/' + files[11])
# lote_prop = pd.read_csv('/content/drive/MyDrive/NLP/2021/' + files[12])
# item_prop = pd.read_csv('/content/drive/MyDrive/NLP/2021/' + files[13])

#Testes
# pessoas.head(3)
# # pessoas.shape # 727385
# # pessoas.isna().sum()
# membrocons.head(3)
# # membrocons.shape # 377
# # membrocons.isna().sum()
# comissao.head(3)
# # comissao.shape # 13243
# # comissao.isna().sum()
# memcomissao.head(3)
# # memcomissao.shape # 68528
# # memcomissao.isna().sum()
# licitante.head(3) # que ou quem faz o lance ou oferta de compra pelo preço que indica;
# # licitante.shape # 147454
# # licitante.isna().sum()
# licitante['TP_RESULTADO_HABILITACAO'].unique()
# dotacao_lic.head(3)
# # dotacao_lic.shape # 123371
# # dotacao_lic.isna().sum()
# # evento_lic.head(3)
# # evento_lic.shape # 252892
# # evento_lic.isna().sum()
# proposta.head(3)
# # proposta.shape # 147454
# # proposta.isna().sum()
# lote_prop.head(3)
# # lote_prop.shape # 308350
# # lote_prop.isna().sum()
# item_prop.head(3)
# # item_prop.shape # 2039001
# # item_prop.isna().sum()
# # aux = item_prop[item_prop['DT_HOMOLOGACAO'] == '0001-01-01'] #Hum?
# # aux['VL_TOTAL_ITEM'].sum() #286.736.736

### Pré-processamento

In [114]:
# licitacao.shape # 92192, 63
cols = ['CD_ORGAO', 'NM_ORGAO', 'NR_LICITACAO', 'CD_TIPO_MODALIDADE','DS_OBJETO', 'VL_LICITACAO']
# como o valor homologado tem 59951 valores nulos, foi retirada essa coluna
licitacao_21 = licitacao[cols]
licitacao_21 = licitacao_21.dropna()

In [118]:
len(licitacao_21[licitacao_21['CD_ORGAO'] == 44500])

264

In [89]:
item.head(3)
# item.shape # 972247
# item.isna().sum()
# len(item[item['BL_COVID19'] == 'S']) #11432

   CD_ORGAO  NR_LICITACAO  ...  PC_TX_HOMOLOGADA BL_COVID19
0     44500         274.0  ...               NaN          N
1     56900          25.0  ...               NaN          N
2     56900          25.0  ...               NaN          N

[3 rows x 33 columns]

### Construção dos modelos

### Análise dos dados

### Conclusão

Quais foram as áreas com maiores investimentos?

E quais foram os principais itens licitados nelas?