### Situação:

Usando os dados das licitações do ano de 2021, no Rio Grande do Sul, fazer uma análise dos principais itens licitados e das áreas que receberam maior investimento por meio de licitações

Link: http://dados.tce.rs.gov.br/dataset?groups=licitacoes&q=consolidado

### Imports

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import spacy 
import nltk

/Users/ionasantana/opt/anaconda3/envs/nlp_course/lib/python3.7/site-packages/sklearn/feature_extraction/image.py:167: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype=np.int):
/Users/ionasantana/opt/anaconda3/envs/nlp_course/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:35: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps,
/Users/ionasantana/opt/anaconda3/envs/nlp_course/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:597: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
/Users/ionasantana/opt/anaconda3/envs/nlp_course/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:836: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
/Users/ionasantana/opt/anaconda3/envs/nlp_course/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:862: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, positive=False):
/Users/ionasantana/opt/anaconda3/envs/nlp_course/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:1097: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
/Users/ionasantana/opt/anaconda3/envs/nlp_course/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:1344: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
/Users/ionasantana/opt/anaconda3/envs/nlp_course/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:1480: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, positive=False):
/Users/ionasantana/opt/anaconda3/envs/nlp_course/lib/python3.7/site-packages/sklearn/linear_model/randomized_l1.py:152: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  precompute=False, eps=np.finfo(np.float).eps,
/Users/ionasantana/opt/anaconda3/envs/nlp_course/lib/python3.7/site-packages/sklearn/linear_model/randomized_l1.py:320: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, random_state=None,
/Users/ionasantana/opt/anaconda3/envs/nlp_course/lib/python3.7/site-packages/sklearn/linear_model/randomized_l1.py:580: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=4 * np.finfo(np.float).eps, n_jobs=None,

In [4]:
files = os.listdir('/2021')

In [5]:
files

['memcomissao.csv',
 'evento_lic.csv',
 'documento_lic.csv',
 'licitante.csv',
 'licitacao.csv',
 'item.csv',
 'pessoas.csv',
 'dotacao_lic.csv',
 'comissao.csv',
 'membrocons.csv',
 'proposta.csv',
 'item_prop.csv',
 'lote_prop.csv',
 'lote.csv']

In [7]:
licitacao = pd.read_csv('/NLP/2021/' + files[4])
item = pd.read_csv('/NLP/2021/' + files[5])

/Users/ionasantana/opt/anaconda3/envs/nlp_course/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3173: DtypeWarning: Columns (52,53) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/ionasantana/opt/anaconda3/envs/nlp_course/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3173: DtypeWarning: Columns (8,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Pré-processamento Dados

In [8]:
cols = ['CD_ORGAO', 'NM_ORGAO', 'NR_LICITACAO', 'CD_TIPO_MODALIDADE','DS_OBJETO', 'VL_LICITACAO', 'BL_COVID19']
licitacao_21 = licitacao[cols]

In [9]:
licitacao_21 = licitacao_21.dropna()

In [10]:
licitacao_21.head(3)

,CD_ORGAO,NM_ORGAO,NR_LICITACAO,CD_TIPO_MODALIDADE,DS_OBJETO,VL_LICITACAO,BL_COVID19
0,53100,PM DE NOVA PALMA,1.0,TMP,CONTRATAÇÃO GLOBAL DE EMPRESA PARA CONSTRUÇÃO ...,259765.0,N
1,86800,PM DE BOA VISTA DO SUL,2.0,PRP,Contratação de empresa para prestação de servi...,390625.0,N
2,45003,SERVIÇO AUTÔN. MUN. DE ÁGUA E ESGOTO - CX.SUL,46.0,PRP,Aquisição de 80.000 (oitenta mil) quilogramas ...,833800.0,N

In [11]:
item_licitacao = item.iloc[:, 0:12]
item_licitacao['BL_COVID19'] = item['BL_COVID19']

In [12]:
item_licitacao.isna().sum()

CD_ORGAO                    0
NR_LICITACAO                0
ANO_LICITACAO               0
CD_TIPO_MODALIDADE          0
NR_LOTE                     0
NR_ITEM                     0
NR_ITEM_ORIGINAL            0
DS_ITEM                     1
QT_ITENS                    0
SG_UNIDADE_MEDIDA           0
VL_UNITARIO_ESTIMADO    39446
VL_TOTAL_ESTIMADO       39446
BL_COVID19                  0
dtype: int64

In [13]:
item_licitacao = item_licitacao.dropna()

In [14]:
len(licitacao_21), len(item_licitacao)

(87469, 932800)

In [15]:
licitacao_21['covid'] = np.where((licitacao_21['BL_COVID19'] == 'S'), ' covid19', '')
licitacao_21['DS_OBJETO'] = licitacao_21['DS_OBJETO'] + licitacao_21['covid']

In [16]:
licitacao_21 = licitacao_21.drop(['BL_COVID19', 'covid'], axis = 1)

In [18]:
item_licitacao['covid'] = np.where((item_licitacao['BL_COVID19'] == 'S'), ' covid19', '')
item_licitacao['DS_ITEM'] = item_licitacao['DS_ITEM'] + item_licitacao['covid']

In [19]:
item_licitacao = item_licitacao.drop(['BL_COVID19', 'covid'], axis = 1)

In [20]:
item_licitacao['ANO_LICITACAO'].unique()
item_licitacao.drop(['ANO_LICITACAO'], axis = 1).head(3)

,CD_ORGAO,NR_LICITACAO,CD_TIPO_MODALIDADE,NR_LOTE,NR_ITEM,NR_ITEM_ORIGINAL,DS_ITEM,QT_ITENS,SG_UNIDADE_MEDIDA,VL_UNITARIO_ESTIMADO,VL_TOTAL_ESTIMADO
0,44500,274.0,CPC,1,1,1,Credenciamento de academias de ginástica e mus...,1,UN,50.00,50.00
1,56900,25.0,TMP,1,1,1.1,PLACA DE OBRA (PARA CONSTRUCAO CIVIL) EM CHAPA...,6,M2,272.49,1634.94
2,56900,25.0,TMP,1,2,1.2,TAPUME COM COMPENSADO DE MADEIRA. AF_05/2018,71,M2,128.69,9136.99

### Pré-processamento Texto

In [33]:
# Libs adicionais de NLP
import spacy 
# import pt_core_news_lg
import nltk
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import re

In [39]:
nlp=spacy.load("pt_core_news_sm")
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/ionasantana/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [24]:
stopwords = nltk.corpus.stopwords.words('portuguese')

filter_out = stopwords + ['kg', 'm', 'cm', 'mm', 'mg', 'ml', 'm²', '-', '+', '=', 'mcg', 'nº', 'g', 'ª', 'º']

<table ><tr><th>Character</th><th>Description</th><th>Example Pattern Code</th><th >Exammple Match</th></tr>

<tr ><td><span >\d</span></td><td>A digit</td><td>file_\d\d</td><td>file_25</td></tr>

<tr ><td><span >\w</span></td><td>Alphanumeric</td><td>\w-\w\w\w</td><td>A-b_1</td></tr>



<tr ><td><span >\s</span></td><td>White space</td><td>a\sb\sc</td><td>a b c</td></tr>



<tr ><td><span >\D</span></td><td>A non digit</td><td>\D\D\D</td><td>ABC</td></tr>

<tr ><td><span >\W</span></td><td>Non-alphanumeric</td><td>\W\W\W\W\W</td><td>*-+=)</td></tr>

<tr ><td><span >\S</span></td><td>Non-whitespace</td><td>\S\S\S\S</td><td>Yoyo</td></tr></table>

<table ><tr><th>Character</th><th>Description</th><th>Example Pattern Code</th><th >Exammple Match</th></tr>

<tr ><td><span >+</span></td><td>Occurs one or more times</td><td>	Version \w-\w+</td><td>Version A-b1_1</td></tr>

<tr ><td><span >{3}</span></td><td>Occurs exactly 3 times</td><td>\D{3}</td><td>abc</td></tr>



<tr ><td><span >{2,4}</span></td><td>Occurs 2 to 4 times</td><td>\d{2,4}</td><td>123</td></tr>



<tr ><td><span >{3,}</span></td><td>Occurs 3 or more</td><td>\w{3,}</td><td>anycharacters</td></tr>

<tr ><td><span >\*</span></td><td>Occurs zero or more times</td><td>A\*B\*C*</td><td>AAACC</td></tr>

<tr ><td><span >?</span></td><td>Once or none</td><td>plurals?</td><td>plural</td></tr></table>

In [72]:
def pre_processing(sentence):
    sentence = sentence.lower()
    sentence = re.sub(r"[^\w\s]", "", sentence)
    sentence = re.sub(r"[0-9]+", "", sentence)
    sentence = re.sub(r"/+", "", sentence)
    sentence = re.sub(r" {2,}", " ", sentence)

    #Tokenização
    doc = nlp(sentence)

    tokens=[token.text for token in doc]
    tokens=[token for token in tokens if token not in filter_out]

    return tokens

In [75]:
print(pre_processing('testando 1 2 3 aa'))

['testando', 'aa']

In [76]:
item_licitacao['DS_ITEM_TOKEN'] = item_licitacao['DS_ITEM'].apply(lambda sentece: pre_processing(sentece))

In [77]:
item_licitacao.to_csv('item_licitacao_token.csv')

In [78]:
licitacao_21['DS_OBJETO_TOKEN'] = licitacao_21['DS_OBJETO'].apply(lambda sentece: pre_processing(sentece))

In [79]:
licitacao_21.to_csv('licitacao_21_token.csv')

### Construção dos modelos

In [80]:
licitacao_21.head(3) #retirar os (), depois?

,CD_ORGAO,NM_ORGAO,NR_LICITACAO,CD_TIPO_MODALIDADE,DS_OBJETO,VL_LICITACAO,DS_OBJETO_TOKEN
0,53100,PM DE NOVA PALMA,1.0,TMP,CONTRATAÇÃO GLOBAL DE EMPRESA PARA CONSTRUÇÃO ...,259765.0,"[contratação, global, empresa, construção, par..."
1,86800,PM DE BOA VISTA DO SUL,2.0,PRP,Contratação de empresa para prestação de servi...,390625.0,"[contratação, empresa, prestação, serviços, tr..."
2,45003,SERVIÇO AUTÔN. MUN. DE ÁGUA E ESGOTO - CX.SUL,46.0,PRP,Aquisição de 80.000 (oitenta mil) quilogramas ...,833800.0,"[aquisição, oitenta, mil, quilogramas, ortopol..."

In [81]:
item_licitacao.head(3)

,CD_ORGAO,NR_LICITACAO,ANO_LICITACAO,CD_TIPO_MODALIDADE,NR_LOTE,NR_ITEM,NR_ITEM_ORIGINAL,DS_ITEM,QT_ITENS,SG_UNIDADE_MEDIDA,VL_UNITARIO_ESTIMADO,VL_TOTAL_ESTIMADO,DS_ITEM_TOKEN
0,44500,274.0,2021,CPC,1,1,1,Credenciamento de academias de ginástica e mus...,1,UN,50.00,50.00,"[credenciamento, academias, ginástica, muscula..."
1,56900,25.0,2021,TMP,1,1,1.1,PLACA DE OBRA (PARA CONSTRUCAO CIVIL) EM CHAPA...,6,M2,272.49,1634.94,"[placa, obra, construcao, civil, chapa, galvan..."
2,56900,25.0,2021,TMP,1,2,1.2,TAPUME COM COMPENSADO DE MADEIRA. AF_05/2018,71,M2,128.69,9136.99,"[tapume, compensado, madeira, af, _]"

In [93]:
licitacao_21 = pd.read_csv('licitacao_21_token.csv')
item_licitacao = pd.read_csv('item_licitacao_token.csv')

/Users/ionasantana/opt/anaconda3/envs/nlp_course/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3173: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [94]:
from sklearn.feature_extraction.text import CountVectorizer

In [95]:
import gensim
import gensim.corpora as corpora
from gensim.utils import simple_preprocess
from gensim.models import CoherenceModel
from gensim.models.doc2vec import Doc2Vec, TaggedDocument

In [96]:
item_licitacao.columns

Index(['Unnamed: 0', 'CD_ORGAO', 'NR_LICITACAO', 'ANO_LICITACAO',
       'CD_TIPO_MODALIDADE', 'NR_LOTE', 'NR_ITEM', 'NR_ITEM_ORIGINAL',
       'DS_ITEM', 'QT_ITENS', 'SG_UNIDADE_MEDIDA', 'VL_UNITARIO_ESTIMADO',
       'VL_TOTAL_ESTIMADO', 'DS_ITEM_TOKEN'],
      dtype='object')

In [97]:
lic= [d.split() for d in item_licitacao['DS_ITEM_TOKEN']]

In [98]:
id2word = corpora.Dictionary(lic)

In [99]:
texts = item_licitacao['DS_ITEM_TOKEN']

In [100]:
corpus = [id2word.doc2bow(text.split()) for text in texts]

# Visualização
print(corpus[:1])

[[(0, 1), (1, 1), (2, 1), (3, 1), (4, 1), (5, 1), (6, 2), (7, 1), (8, 1), (9, 1), (10, 1), (11, 1), (12, 3), (13, 1), (14, 1), (15, 1), (16, 1), (17, 1), (18, 1), (19, 1), (20, 1)]]

In [101]:
# Corpus num formado simplificado (term-frequency)
[[(id2word[id], freq) for id, freq in cp] for cp in corpus[:1]]

[[("'academias',", 1),
  ("'cada',", 1),
  ("'canoas',", 1),
  ("'credenciado',", 1),
  ("'desembolsado',", 1),
  ("'escolhido',", 1),
  ("'estabelecimento',", 2),
  ("'exercícios',", 1),
  ("'físicos',", 1),
  ("'ginástica',", 1),
  ("'matriculado',", 1),
  ("'ministrem',", 1),
  ("'município',", 3),
  ("'musculação',", 1),
  ("'outro',", 1),
  ("'r',", 1),
  ("'servidor',", 1),
  ("'servidor']", 1),
  ("'valor',", 1),
  ("'âmbito',", 1),
  ("['credenciamento',", 1)]]

In [102]:
from sklearn.decomposition import LatentDirichletAllocation

In [103]:
filter_out = filter_out + ['cor', 'cores', 'un', 'branco', 'unidades', 
'litros', 'af', 'mgml', 'nbr', 'dn', 'eou', 'referência', 'conforme',
'demais', 'deverá', 'tipo', 'r', 'gb']

In [104]:
cv = CountVectorizer(max_df=0.95, min_df=2, stop_words=filter_out)

In [105]:
dtm = cv.fit_transform(item_licitacao['DS_ITEM_TOKEN'])

In [106]:
LDA = LatentDirichletAllocation(n_components=10,random_state=42)

In [107]:
LDA.fit(dtm)

LatentDirichletAllocation(batch_size=128, doc_topic_prior=None,
             evaluate_every=-1, learning_decay=0.7,
             learning_method='batch', learning_offset=10.0,
             max_doc_update_iter=100, max_iter=10, mean_change_tol=0.001,
             n_components=10, n_jobs=None, n_topics=None, perp_tol=0.1,
             random_state=42, topic_word_prior=None,
             total_samples=1000000.0, verbose=0)

In [108]:
LDA.components_

array([[8.81523650e+02, 1.00000000e-01, 6.93099963e+02, ...,
        1.50995543e+01, 1.00000000e-01, 1.00002658e-01],
       [1.00008775e-01, 4.10000000e+00, 1.00001261e-01, ...,
        1.00000001e-01, 2.09999727e+00, 1.00000000e-01],
       [4.62857095e+00, 1.00000000e-01, 1.00014331e-01, ...,
        1.00000001e-01, 1.00000000e-01, 1.00000000e-01],
       ...,
       [1.00003368e-01, 1.00000000e-01, 1.00008509e-01, ...,
        1.00014090e-01, 1.00000000e-01, 1.00000000e-01],
       [1.00003016e-01, 1.00000000e-01, 1.00000342e-01, ...,
        1.00000001e-01, 1.00000000e-01, 1.00005586e-01],
       [3.21476870e+01, 1.00000000e-01, 1.00001201e-01, ...,
        1.00431556e-01, 1.00000000e-01, 1.00000777e-01]])

In [109]:
single_topic = LDA.components_[0]
# Returns the indices that would sort this array.
single_topic.argsort()

array([12952, 26683, 45820, ..., 75142,  7650, 76573])

In [110]:
top_word_indices = single_topic.argsort()[-10:]

In [111]:
for index in top_word_indices:
    print(cv.get_feature_names()[index])

impressão
branca
preta
broca
caneta
ponta
tecido
tamanho
azul
tinta

Após o processamento, se encontrou palavras como cor, un, af, tipo - então elas foram adicionadas no filtro e foi se processado novamente

In [112]:
for index,topic in enumerate(LDA.components_):
    print(f'Top 10 tópicos dos itens#{index}')
    print([cv.get_feature_names()[i] for i in topic.argsort()[-10:]])
    print('\n')

Top 10 tópicos dos itens#0
['impressão', 'branca', 'preta', 'broca', 'caneta', 'ponta', 'tecido', 'tamanho', 'azul', 'tinta']


Top 10 tópicos dos itens#1
['galvanizado', 'soldável', 'livro', 'tubo', 'mão', 'concreto', 'fornecimento', 'obra', 'instalação', 'pvc']


Top 10 tópicos dos itens#2
['serviço', 'cp', 'placa', 'comprimido', 'veículo', 'mínimo', 'motor', 'ano', 'ar', 'filtro']


Top 10 tópicos dos itens#3
['contendo', 'mínimo', 'mínima', 'fabricação', 'entrega', 'meses', 'produto', 'data', 'validade', 'embalagem']


Top 10 tópicos dos itens#4
['bovina', 'portas', 'integral', 'trigo', 'ferro', 'farinha', 'leite', 'embalagem', 'carne', 'pó']


Top 10 tópicos dos itens#5
['base', 'espessura', 'luva', 'material', 'descartável', 'fita', 'comprimento', 'largura', 'tamanho', 'altura']


Top 10 tópicos dos itens#6
['madeira', 'mínima', 'mínimo', 'material', 'inox', 'plástico', 'cabo', 'capacidade', 'aço', 'covid']


Top 10 tópicos dos itens#7
['folha', 'documentação', 'cotação', 'pacote', 'reforma', 'folhas', 'especificações', 'construção', 'papel', 'termo']


Top 10 tópicos dos itens#8
['município', 'municipal', 'prestação', 'empresa', 'tamanho', 'contratação', 'médio', 'serviço', 'qualidade', 'serviços']


Top 10 tópicos dos itens#9
['cloridrato', 'óleo', 'injetável', 'oral', 'radial', 'cabo', 'lonas', 'solução', 'frasco', 'pneu']

In [113]:
dtm

<932800x84244 sparse matrix of type '<class 'numpy.longlong'>'
	with 7503894 stored elements in Compressed Sparse Row format>

In [114]:
dtm.shape

(932800, 84244)

In [115]:
topic_results = LDA.transform(dtm)

In [116]:
topic_results.shape

(932800, 10)

In [117]:
item_licitacao['Topic'] = topic_results.argmax(axis=1)

In [118]:
item_licitacao[['DS_ITEM','Topic']].head(10)

                                             DS_ITEM  Topic
0  Credenciamento de academias de ginástica e mus...      8
1  PLACA DE OBRA (PARA CONSTRUCAO CIVIL) EM CHAPA...      1
2       TAPUME COM COMPENSADO DE MADEIRA. AF_05/2018      5
3  PODA EM ALTURA DE ÁRVORE COM DIÂMETRO DE TRONC...      5
4  LOCACAO DE CONTAINER 2,30  X  6,00 M, ALT. 2,5...      0
5  LOCACAO CONVENCIONAL DE OBRA, UTILIZANDO GABAR...      7
6  RECOMPOSIÇÃO PARCIAL DE ARAME FARPADO Nº 14 CL...      1
7  LIMPEZA MECANIZADA DE CAMADA VEGETAL, VEGETAÇÃ...      8
8                                    ARQUITETO PLENO      6
9                         ENCARREGADO GERAL DE OBRAS      8

In [119]:
item_licitacao[['DS_ITEM_TOKEN','Topic']].head(10)

                                       DS_ITEM_TOKEN  Topic
0  ['credenciamento', 'academias', 'ginástica', '...      8
1  ['placa', 'obra', 'construcao', 'civil', 'chap...      1
2     ['tapume', 'compensado', 'madeira', 'af', '_']      5
3  ['poda', 'altura', 'árvore', 'diâmetro', 'tron...      5
4  ['locacao', 'container', 'x', 'alt', 'escritor...      0
5  ['locacao', 'convencional', 'obra', 'utilizand...      7
6  ['recomposição', 'parcial', 'arame', 'farpado'...      1
7  ['limpeza', 'mecanizada', 'camada', 'vegetal',...      8
8                             ['arquiteto', 'pleno']      6
9                  ['encarregado', 'geral', 'obras']      8

In [120]:
item_licitacao.to_csv('lda.csv')

Qual a diferença entre LDA e NMF?

Desvendando o latent Dirichlet Allocation - https://web.icmc.usp.br

O objetivo é esclarecer essa relação em termos de formulação matemática, demonstrando que o NMF com divergência KL aproxima a solução obtida pelo algoritmo de inferência variacional do LDA.

As correspondências entre NMF com divergência KL e o algoritmo de inferência variacio- nal para o LDA seguem do fato de que ambos tentam minimizar a divergência entre as estatísticas que relacionam a frequência de palavras, documentos por tópicos e tópicos por palavras.

NMF

In [121]:
from sklearn.decomposition import NMF

In [122]:
nmf_model = NMF(n_components=20,random_state=42)

In [123]:
nmf_model.fit(dtm)

NMF(alpha=0.0, beta_loss='frobenius', init=None, l1_ratio=0.0, max_iter=200,
  n_components=20, random_state=42, shuffle=False, solver='cd', tol=0.0001,
  verbose=0)

In [125]:
for index,topic in enumerate(nmf_model.components_):
    print(f"The top 10 words for topic # {index}")
    print([cv.get_feature_names()[i] for i in topic.argsort()[-10:]])
    print('\n')

The top 10 words for topic # 0
['partir', 'ingredientes', 'prazo', 'contar', 'mínima', 'fabricação', 'entrega', 'meses', 'validade', 'data']


The top 10 words for topic # 1
['ré', 'cabine', 'índice', 'caçamba', 'operacional', 'potência', 'comprimento', 'peso', 'prazo', 'mínimo']


The top 10 words for topic # 2
['tampo', 'mesa', 'acabamento', 'inox', 'pintura', 'chapa', 'tubo', 'espessura', 'estrutura', 'aço']


The top 10 words for topic # 3
['instalação', 'novaampliação', 'memorial', 'obra', 'documentação', 'cotação', 'reforma', 'construção', 'especificações', 'termo']


The top 10 words for topic # 4
['maturação', 'coloração', 'sujidades', 'primeira', 'boa', 'casca', 'grau', 'médio', 'qualidade', 'tamanho']


The top 10 words for topic # 5
['obra', 'saúde', 'horas', 'municipal', 'município', 'empresa', 'serviço', 'prestação', 'contratação', 'serviços']


The top 10 words for topic # 6
['litro', 'gramas', 'validade', 'leite', 'transparente', 'pó', 'registro', 'resistente', 'plástica', 'embalagem']


The top 10 words for topic # 7
['registro', 'kit', 'procedimento', 'antígeno', 'estéril', 'rápido', 'luva', 'descartável', 'teste', 'covid']


The top 10 words for topic # 8
['sabor', 'conter', 'ter', 'deverão', 'devem', 'apresentar', 'estar', 'possuir', 'deve', 'ser']


The top 10 words for topic # 9
['azul', 'espessura', 'manga', 'lado', 'parte', 'comprimento', 'medindo', 'tecido', 'largura', 'altura']


The top 10 words for topic # 10
['portas', 'suporte', 'padrão', 'processador', 'superior', 'placa', 'sistema', 'memória', 'possuir', 'usb']


The top 10 words for topic # 11
['flexível', 'ramal', 'instalado', 'esgoto', 'água', 'soldável', 'fornecimento', 'instalação', 'tubo', 'pvc']


The top 10 words for topic # 12
['capa', 'folha', 'páginas', 'formato', 'xcm', 'tinta', 'impressão', 'pacote', 'folhas', 'papel']


The top 10 words for topic # 13
['parasitas', 'açúcar', 'parafuso', 'total', 'ma', 'número', 'sext', 'sabor', 'mín', 'xa0']


The top 10 words for topic # 14
['carne', 'rótulo', 'validade', 'lote', 'peso', 'fabricante', 'identificação', 'registro', 'contendo', 'produto']


The top 10 words for topic # 15
['tampa', 'ponta', 'madeira', 'descartável', 'transparente', 'resistente', 'uso', 'cabo', 'plástico', 'material']


The top 10 words for topic # 16
['índice', 'uso', 'recapagem', 'carga', 'borrachudo', 'inmetro', 'novo', 'radial', 'lonas', 'pneu']


The top 10 words for topic # 17
['estéril', 'látex', 'procedimento', 'pó', 'fio', 'tampa', 'descartável', 'agulha', 'luva', 'caixa']


The top 10 words for topic # 18
['filtro', 'condicionado', 'garantia', 'potência', 'motor', 'veículo', 'ano', 'ar', 'capacidade', 'mínima']


The top 10 words for topic # 19
['seguindo', 'municipal', 'transporte', 'rua', 'alunos', 'km', 'segue', 'retorna', 'escola', 'linha']

In [126]:
topic_results_nfm = nmf_model.transform(dtm)

In [127]:
topic_results_nfm.argmax(axis=1)

item_licitacao['Topic_nfm'] = topic_results.argmax(axis=1)

In [128]:
item_licitacao[['DS_ITEM','Topic_nfm']].head(10)

                                             DS_ITEM  Topic_nfm
0  Credenciamento de academias de ginástica e mus...          8
1  PLACA DE OBRA (PARA CONSTRUCAO CIVIL) EM CHAPA...          1
2       TAPUME COM COMPENSADO DE MADEIRA. AF_05/2018          5
3  PODA EM ALTURA DE ÁRVORE COM DIÂMETRO DE TRONC...          5
4  LOCACAO DE CONTAINER 2,30  X  6,00 M, ALT. 2,5...          0
5  LOCACAO CONVENCIONAL DE OBRA, UTILIZANDO GABAR...          7
6  RECOMPOSIÇÃO PARCIAL DE ARAME FARPADO Nº 14 CL...          1
7  LIMPEZA MECANIZADA DE CAMADA VEGETAL, VEGETAÇÃ...          8
8                                    ARQUITETO PLENO          6
9                         ENCARREGADO GERAL DE OBRAS          8

In [131]:
item_licitacao[['DS_ITEM_TOKEN','Topic_nfm']].head(10)

                                       DS_ITEM_TOKEN  Topic_nfm
0  ['credenciamento', 'academias', 'ginástica', '...          8
1  ['placa', 'obra', 'construcao', 'civil', 'chap...          1
2     ['tapume', 'compensado', 'madeira', 'af', '_']          5
3  ['poda', 'altura', 'árvore', 'diâmetro', 'tron...          5
4  ['locacao', 'container', 'x', 'alt', 'escritor...          0
5  ['locacao', 'convencional', 'obra', 'utilizand...          7
6  ['recomposição', 'parcial', 'arame', 'farpado'...          1
7  ['limpeza', 'mecanizada', 'camada', 'vegetal',...          8
8                             ['arquiteto', 'pleno']          6
9                  ['encarregado', 'geral', 'obras']          8

In [129]:
item_licitacao.to_csv('nfm.csv')

Comparar os tópicos entre os dois

### Análise dos dados

### Conclusão

Quais foram as áreas com maiores investimentos?

E quais foram os principais itens licitados nelas?